body {
    padding-top: 51px;
}

.loading {
    position: relative;
    min-height: 300px;
}

.loading:before,
.loading:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    display: block;
    opacity: 0.75;
}

.loading:before {
    content: '\00a0';
    background: #fff;
    z-index: 100;
    top: 0;
}

.loading:after {
    content: url(../img/loading.gif);
    z-index: 200;
    top: 50%;
    margin-top: -30px;
}

footer {
    margin: 25px 0 0;
    padding: 35px 0 25px;
    background: #eee;
}